@import "css/sassVariables.scss";
@import "css/mixins.scss";

$minHeight: 568px;

header {
  overflow: hidden;
  width: 100%;
  // height: 100vh;
  display: flex;
  flex-direction: column;
  min-height: $minHeight;

  @media #{$flip} {
    flex-direction: row-reverse;
    height: 100vh;
  }
}

.headerIMG {
  height: 40vh;

  @media #{$flip} {
    width: 50%;
    height: 100vh;
    min-height: 590px;
  }

  @media #{$mobile} {
    min-height: 170px;
    height: 25vh;
  }

  img {
    height: 100%;
    object-fit: cover;
    object-position: 46% 0%;
    position: relative;
    left: 0;
    right: 0;
    width: 100%;
    min-width: 263px;
    min-height: 4 * $lh;
  }

  div.quote {
    width: 100%;
    min-width: 263px;
    padding: $lh 25px;
    position: relative;
    bottom: 125px;

    @media #{$flip} {
      position: relative;
      width: 100%;
      right: 0px;
      bottom: 241px;
      margin: auto;
    }

    @media (max-width: 615px) {
      bottom: 160px;
    }

    p {
      color: $mainColor;
      text-align: center;
      width: 100%;
      color: $white;
      margin: 0;

      &:nth-of-type(2) {
        margin: 12.5px 0 0;
      }

      @media (max-width: 752px) {
        font-size: 1.2rem;
      }

      @media #{$flip} {
        margin-top: 50px;
      }

      @media #{$mobile} {
        display: none;
      }
    }
  }
}

.profile {
  width: 100%;
  min-width: 263px;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 20px;
  margin: 0 auto;
  background-color: $white;
  min-height: 370px;

  @media #{$flip} {
    height: 100vh;
    min-height: 590px;
    width: 60%;
    align-items: flex-start;
    justify-content: flex-end;
    margin-bottom: 50px;
  }
}

.title {
  text-align: center;
  min-width: 233.813px;
  margin-bottom: $lh / 2;
  margin-top: $lh;

  p {
    @media #{$flip} {
      max-width: 420px;
    }

    @media #{$mobile} {
      font-size: 1.2rem;
      max-width: 90%;
      margin: 0 auto;
    }
  }

  @media #{$flip} {
    text-align: left;
  }

  h1 {
    color: $mainColor;
    font-weight: 800;
    min-width: 301px;

    @media #{$flip} {
      max-width: 290px;
      min-width: 233.813px;
    }

    @media #{$mobile} {
      font-size: 3.8rem;
    }
  }

  h2 {
    color: $black;

    // @media (max-width: 350px) {
    //   font-size: 1.8rem;
    // }

    @media #{$flip} {
      margin-bottom: $lh;
    }

    @media #{$mobile} {
      font-size: 2rem;
    }
  }
}

.button {
  @include moveButton($lh);
}

div.socialLinks {
  width: 50%;
  height: 2 * $lh;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  min-width: 250px;

  @media #{$flip} {
    margin: $lh/2 0 $lh/2 0;
    justify-content: space-between;
    min-width: 125px;
    width: initial;
  }

  @media #{$mobile} {
    display: none;
  }

  a {
    color: $mainColor;
    font-size: 4rem;
    transition: color $trans;

    &:nth-child(1) {
      $color: #0077b5;
      color: $color;

      &:hover {
        color: lighten($color, 10%);
      }
    }
    &:nth-child(2) {
      $color: #101010;
      color: $color;

      &:hover {
        color: lighten($color, 20%);
      }
    }
  }
}
