@import "css/sassVariables.scss";
@import "css/mixins.scss";

$navFlip: "(min-width: 700px)";

.Nav {
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: $white;
  z-index: 5;
  padding: $lh / 4 20px;
  min-width: 283px;
  line-height: $lh;

  visibility: hidden;
  opacity: 0;
  transition: visibility 0.25s, opacity 0.25s;

  @media #{$navFlip} {
    padding: $lh / 4 $lh;
    top: 0;
    bottom: initial;
  }

  a {
    text-decoration: none;
    // color: lighten($tertiaryColor, 20%);
    color: $black;

    &:hover {
      color: $darkBlack; //lighten($accentLight, 20%);
    }

    &:active {
      // color: darken($tertiaryColor, 20%);
      @include reactToClick();
    }
  }

  .text {
    display: none;
    font-size: 1.5rem;
    font-family: $font;
    @include underline($darkBlack);

    @media #{$navFlip} {
      display: initial;
    }
  }

  .icon {
    font-size: 2rem;

    @media #{$navFlip} {
      display: none;
    }
  }

  &.active {
    visibility: visible;
    opacity: 1;
  }
}
