@import "css/sassVariables.scss";
@import "css/mixins.scss";

$bpMed: "(min-width: 700px)";

.About {
  height: auto;
  background-image: url("img/patterns/fishnets-and-hearts.png");
  color: $black;
} // .About

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2 * $lh;
  width: 100%;

  @media #{$flip} {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .imgContainer {
    height: 100vh;
    min-height: 13 * $lh;
    max-height: 14 * $lh;
    overflow: hidden;
    margin: $lh 0 2 * $lh;

    @media #{$flip} {
      width: calc(30% - 10px);
      border-radius: 20px;
      margin: 0;
    }

    @media #{$mobile} {
      max-height: 250px;
      min-height: 250px;
      margin: $lh / 2 0;
    }

    @media (max-width: 590px) and (max-height: 675px) {
      max-height: 300px;
      min-height: 300px;

      margin: $lh / 2 0;
    }

    img {
      width: 1100px;
      position: relative;
      bottom: 220px;
      right: 8%;

      @media #{$flip} {
        bottom: 210px;
        transform: scaleX(-1);
        right: calc(440px - 45%);
      }

      @media #{$mobile} {
        width: 1200px;
        max-height: 250px;
        object-fit: cover;
        bottom: 0px;
        object-position: 50% 39%;
      }

      @media (max-width: 590px) and (max-height: 675px) {
        width: 700px;
        max-height: 200px;
        object-fit: cover;
        bottom: 0px;
        object-position: 50% 48%;
      }
    }
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media #{$flip} {
      padding-left: 20px;
      width: 50%;
    }

    p {
      font-size: 1.5rem;
      font-family: $font;
      width: 100%;
      max-width: 500px;

      @media (max-width: 400px) {
        font-size: 1.3rem;
      }

      @media (max-width: 340px) {
        font-size: 1.2rem;
      }

      @media #{$flip} {
        max-width: none;
      }

      &:nth-of-type(2) {
        margin-bottom: 0px;
      } // &
    } // p
  } // main
} // content

.moveButton {
  @include moveButton();
}

/*
Image by itself

img {
    width: 110%;
    height: 30vh;
    min-height: 8 * $lh;
    margin: 25px 0;

    object-fit: cover;
    object-position: 50% 70%;

    @media (min-width: 550px) {
      object-position: 50% 40%;
    }

    @media #{$flip} {
      width: 50%;
      height: 50vh;
      min-height: 200px;
      border-radius: 20px;
      object-fit: cover;
      object-position: 60% 50%;
      padding-right: 10px;
    }
  }

*/
