@import "css/sassVariables.scss";
@import "css/mixins.scss";

.Skills {
  background-image: url("img/patterns/prism.png");
  color: $white;
  height: auto;

  main.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: column;
    padding: $lh 0;
    width: 100%;

    @media #{$flip} {
      width: 100%;
      // flex-direction: row-reverse;
    }
  }

  .tableContainer {
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: space-evenly;
    align-items: flex-start;
    // max-width: 800px;
    width: 100%;
    max-width: 1300px;
    overflow: hidden;

    @media (min-width: 692px) {
      flex-direction: row;
    }
  }
}

ul.skillsList {
  min-width: 260px;
  // max-width: 320px;
  margin: 0px;
  width: 100%;
  background-color: $white;
  color: $black;
  overflow: hidden;

  &:first-of-type {
    border-radius: 20px 20px 0 0;
  }
  &:last-of-type {
    border-radius: 0 0 20px 20px;
  }

  @media (min-width: 692px) {
    &:first-of-type {
      border-radius: 20px 0 0 20px;
    }
    &:last-of-type {
      border-radius: 0 20px 20px 0;
    }
  }

  h2 {
    text-align: center;
    margin: $lh/2 0;
    font-size: 2.5rem;
  }

  li {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: $lh/2 20px;
    color: $black;
    font-size: 1.5rem;
    font-family: $font;

    &:nth-child(odd) {
      background-color: #f7f7f7;
    }
    &:nth-child(even) {
      background-color: #e8e8e8;
    }

    span:nth-child(2) {
      // Skill name & years
    }

    div {
      // max-width: 190px;
      // min-width: 160px;
      width: 100%;
      display: flex;
      justify-content: center;

      span:nth-of-type(1) {
        @media (max-width: 400px) {
          font-size: 1.2rem;
        }
      } // span-of-type 1
      span:nth-of-type(2) {
        // Skill name & years
        margin-left: 20px;
        white-space: nowrap;

        @media (max-width: 400px) {
          // max-width: 130px;
          // min-width: 130px;
        }
      }
    } // div
  } //li
} // skillsList

div.textContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2 * $lh auto 0;
  width: 100%;
  max-width: 1300px;

  @media (min-width: 692px) {
    flex-direction: row;
    justify-content: space-evenly;
  }

  p.para {
    font-size: 1.5rem;
    max-width: 500px;

    @media (min-width: 692px) {
      &:first-of-type {
        margin-right: 30px;
      }
    }
  }
}

.moveButton {
  @include moveButton($lh);
}
