@import "./sassVariables.scss";
* {
  box-sizing: border-box;
  line-height: $lh;
  font-family: $font;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: $white;
}

h1 {
  font-size: 4.5rem;
  line-height: 75px;
  font-family: $fontHeader;
}

h2 {
  font-size: 2.3rem;
  line-height: 50px;
  font-family: $fontHeader;
}

p {
  line-height: 25px;
  font-size: 1.5rem;
}
