@import "./sassVariables.scss";

@mixin underline($color, $time: 0.25s, $margin: $lh) {
  $height: 2px;
  &::after {
    content: "";
    display: block;
    width: 0;
    height: $height;
    background: $color;
    transition: width $time;
    margin-top: calc($margin - $height);
  }
  &.active::after {
    width: 100%;
    margin-top: 23px;
  }
}

@mixin reactToClick() {
  &:active {
    transform: translateY(1px);
  }
}

@mixin moveButton($margin: $lh) {
  $bMargin: 3px;
  $border: 2px;
  $trans: 0.5s;
  border: $border solid $accent;
  transition: border $trans;
  cursor: pointer;
  margin-top: $margin - 2 * $border - 2 * $bMargin;
  margin-bottom: $margin;

  button {
    border: none;
    background-color: $accent;
    color: $tertiaryColor;
    margin: $bMargin;
    padding: 0;
    width: 250px;
    height: 2 * $lh;
    font-size: 1.9rem;
    cursor: pointer;
    transition: background-color $trans, color $trans;

    &:focus {
      outline: $white;
    }
  }

  &:hover {
    border: 2px solid $accentLight;
    button {
      background-color: $accentLight;
      color: $white;
    }
  }

  @include reactToClick();
}

// @mixin skewedBox($color: $mainColorLight, $width: 350px) {
//   background-color: $white;
//   margin: 20px 20px;
//   position: relative;
//   width: $width;
//   padding: 20px;
//   border-radius: 20px;
//   box-shadow: 2px 5px 3px rgba(0, 0, 0, 0.2);

//   div.titleBG {
//     width: 100%;
//     height: 100px;
//     background-color: $color;
//     position: absolute;
//     transform: skew(-10deg, -3deg);
//     right: 0px;
//     box-shadow: 10px 10px rgba($color, 0.3);
//   }

//   div.titleFiller {
//     width: 100%;
//     height: 100px;
//   }

//   h3 {
//     font-size: 2rem;
//     color: $white;
//     position: relative;
//     bottom: 70px;
//     text-align: center;
//     font-family: $font;
//     transform: rotate(-3deg);
//   }
// }
