@import "./sassVariables.scss";

@mixin underline($color, $time: 0.25s, $margin: 0) {
  &::after {
    content: "";
    display: block;
    width: 0;
    height: 3px;
    background: $color;
    transition: width $time;
    margin-top: $margin;
  }
  &.active::after {
    width: 100%;
    margin-top: 23px;
  }
}

@mixin reactToClick() {
  &:active {
    transform: translateY(1px);
  }
}

@mixin learnMoreButton() {
  background-color: #fff;
  border: 1px solid $mainColor;

  width: 145px;
  height: 40px;
  font-size: 1.2rem;
  font-family: $font;
  text-shadow: 0px 1px $secondaryColor;

  transition: 0.25s;

  &:hover {
    background-color: $mainColor;
    color: $secondaryColor;
    border: 1px solid $mainColorLight;
    text-shadow: none;
  }
  @include reactToClick;
}
