// Colors
// $secondaryColor: #f7f7ed;
// $purple: #3e4155;
// $blue: #335e85;
// $mainColorLight: lighten(#346887, 40%);
// $mainColor: #2e3c5b;
// $header: #95cda5;

$mainColor: #843632;
$mainColorLight: #d77866;
$secondaryColor: #f7f7ed;
$tertiaryColor: #69390b;
$black: #36454f;

// $lightRed: #D77866;
// $red: #843632;
// $

// Fonts
$fontHeader: "Palanquin Dark", sans-serif;
$fontSubHead: "Overlock SC", cursive;
$font: "Hind Vadodara", sans-serif;

// Breakpoints

// Sizing
$minSize: 280px;
