@import url("https://fonts.googleapis.com/css?family=Istok+Web|Poppins|Roboto&display=swap");

$mainColor: darken(#46564e, 10%);
$mainColorLight: #8e8363;
$secondaryColor: #fefefe;
$tertiaryColor: #b8a08f;
$accent: #361c25; //6b575e
$accentLight: #6b575e;
$black: #36454f;
$darkBlack: #0f1316;
$white: $secondaryColor;
$darkWhite: darken($white, 10%);

$shadow: 5px 5px 8px rgba(0, 0, 0, 0.5);

// Fonts
$fontHeader: "Poppins", sans-serif;
$fontSubHead: "Istok Web", sans-serif;
$font: "Roboto", sans-serif;

// Sizing
$minSize: 280px;
$maxSize: 2200px;
$lh: 35px;

// Breakpoints
$flip: "(min-width: 900px)";

// Time
$trans: 0.5s;
