@import "css/sassVariables.scss";
@import "css/mixins.scss";

section {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  min-width: $minSize;
  width: 100%;
  margin: auto;
  color: $white;
  overflow: hidden;

  h2 {
    font-size: 2rem;
    font-family: $fontHeader;
    width: 100%;
    text-align: center;
    margin-bottom: 25px;
    margin-top: 13px;
  }
  p {
    line-height: $lh;
    margin-bottom: 25px;
    width: 100%;
    max-width: 400px;
  }
}

.App {
  max-width: $maxSize;
  margin: auto;
}
