@import "css/sassVariables.scss";
@import "css/mixins.scss";

section {
  padding: 0 $lh/2;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  min-width: $minSize;
  width: 100%;
  margin: auto;
  color: $white;
  overflow: hidden;

  h2 {
    font-size: 2.5rem;
    font-family: $fontHeader;
    width: 100%;
    text-align: center;
    margin: $lh * 1.5 0;
    line-height: 2 * $lh;

    @media (min-width: 400px) {
      font-size: 3rem;
    }

    @media #{$mobile} {
      margin: $lh / 2 0;
    }
  }

  p {
    line-height: $lh;
    margin-bottom: $lh;
    width: 100%;
    max-width: 400px;
  }
}

.App {
  max-width: $maxSize;
  margin: auto;
}
