@import "css/sassVariables.scss";
@import "css/mixins.scss";

.Projects {
  background-image: url("img/patterns/fishnets-and-hearts.png");
  color: $black;
  height: auto;
}

// div.row {
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: space-evenly;
//   width: calc(50vw + 452px);
//   padding: $lh 0;
// }

div.project {
  width: 100%;
  max-width: 975px;
  $border: 1px;
  box-shadow: 2px 2px 5px rgba(100, 100, 100, 0.5);
  // padding: $lh - $border $lh;
  background-color: $white;
  border-radius: 20px;
  text-align: center;
  transition: box-shadow 0.5s;
  cursor: pointer;
  overflow: hidden;
  margin: $lh 0;

  // display: flex;
  // align-items: center;
  // justify-content: center;

  &:hover {
    box-shadow: 5px 5px 10px rgba(100, 100, 100, 0.5);
  }

  h3 {
    font-size: 2rem;
    top: 35px;
    display: inline-block;
    padding: $lh / 2;
    background-color: rgba($black, 0.8);
    position: absolute;
    max-height: $lh * 2;
    color: $white; //rgb(69, 20, 118);
    font-weight: 800;

    right: 0;
    top: 2.5 * $lh;
  }

  div.fullBleed {
    height: auto;
    min-height: 5 * $lh;
    width: 100%;
    position: relative;
    z-index: 1;
    background-color: rgba($white, 0.99);
    padding: $lh / 2;
    // border-radius: 20px;

    // display: flex;
    // flex-direction: column;
    // align-items: center;
  }

  img {
    // position: absolute;
    // left: 0;
    // right: 0;
    // top: 0;
    min-height: 6 * $lh;
    margin: auto;
    z-index: 0;
    width: 100%;
    height: 105px;
    object-fit: cover;
    border-radius: 20px;
  }

  p {
    margin: $lh - 3px auto;
    // margin: 0;
    font-size: 1.3rem;
    max-width: none;
  }
}

.fullCard {
  padding: 0 $lh $lh;
  overflow: scroll;
  max-height: 90vh;
  overflow-x: hidden;
  h2 {
    margin: $lh 0;
  }
  img {
    width: 60%;
    min-height: $lh * 8;
    height: 30vh;
    object-fit: scale-down;
    border-radius: 20px;
  }
  p {
    width: 100%;
    max-width: none;
    margin-top: $lh;
  }
}

div.demos {
  display: flex;
  justify-content: space-evenly;
  height: auto;

  a {
    @include moveButton($lh / 2);
  }
}

div.projectInfo {
  display: flex;
  justify-content: space-between;
}

div.tech {
  width: 25%;
  border-radius: 20px;
  min-width: 250px;

  h3 {
    width: 100%;
    text-align: center;
    font-size: 1.8rem;
    line-height: 2 * $lh;
    font-family: $fontHeader;
  }
  ul {
    display: flex;
    flex-direction: column;

    li {
      line-height: $lh;
      padding-left: $lh;
      font-size: 1.5rem;

      // i {
      //   margin-right: $lh;
      // }

      span {
        display: inline-block;
        width: calc(100% - 50px);
        text-align: center;
      }
    }

    & > div {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
    }
  }
}
